### Overview

5 archetype users:

1: Labels consistent with image, i.e., (0, 1, 2, 3, 4) -> (0, 1, 2, 3, 4)
2: (0, 1, 2, 3, 4) -> (1, 2, 3, 4, 0)
3: (0, 1, 2, 3, 4) -> (2, 3, 4, 0, 1)
4: (0, 1, 2, 3, 4) -> (3, 4, 0, 1, 2)
5: (0, 1, 2, 3, 4) -> (4, 0, 1, 2, 3)
100 users, 20 of each type. For each user:

inputs are randomly sampled MNIST digits (0-4)
outputs are the labels of the associated archetype with probability .9, random label with probability .1
20 train examples, 20 validation, 50 test

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import json
import os

import numpy as np
import pandas as pd
import seaborn as sns
sns.set_theme()

In [3]:
data_dir = "/data/ddmg/redditlanguagemodeling/results/mnist"

In [46]:
def collect_details(base_dir, seeds):
    collect_losses = {"loss": [], "step": [], "user": [], "seed": []}
    collect_ws = []
    collect_embeds = []
    collect_embed_grads = []
    collect_w_grads = []
    collect_users = []
    num_users = 100
    user_batch_size = 20
    for seed in seeds:
        result_dir = os.path.join(base_dir, str(seed))
        user_step_losses = np.load(os.path.join(result_dir, "step_user_losses.npy"))
        num_steps = len(user_step_losses)
        losses_flat = user_step_losses.flatten()
        collect_losses["loss"] += list(losses_flat)
        collect_losses["step"] += list(np.array([[step] * user_batch_size for step in range(num_steps)]).flatten())
        users = np.load(os.path.join(result_dir, "train_users.npy"))
        collect_losses["user"] += list(users.flatten())
        collect_losses["seed"] += [seed] * len(losses_flat)
        weight_matrices = np.load(os.path.join(result_dir, "user_weight_matrices.npy"))
        embeds = np.load(os.path.join(result_dir, "user_embeds.npy"))
        w_grads = np.load(os.path.join(result_dir, "weight_gradients.npy"))
        embeds_grads = np.load(os.path.join(result_dir, "user_embeds_gradients.npy"))
        collect_ws.append(weight_matrices)
        collect_embeds.append(embeds)
        collect_w_grads.append(w_grads)
        collect_embed_grads.append(embeds_grads)
        collect_users.append(users)
    return collect_losses, collect_ws, collect_embeds, collect_w_grads, collect_embed_grads, collect_users

In [9]:
def collect_results_single_param(base_dir, seeds):
    collect_results = []
    for seed in seeds:
        result_dir = os.path.join(base_dir, str(seed))
        with open(os.path.join(result_dir, "test_results.json"), "rb") as f:
            results = json.load(f)
        num_users = 100
        for user in range(num_users):
            user_acc = results[str(user)]["test_accuracy"]
            collect_results.append({"user": user, "accuracy": user_acc, "seed": seed})
    result_df = pd.DataFrame(collect_results)
    return result_df

In [6]:
def collect_train_times(base_dir, seeds):
    times = []
    sps = []
    for seed in seeds:
        result_dir = os.path.join(base_dir, str(seed))
        with open(os.path.join(result_dir, "trainer_state.json"), "rb") as f:
            t_state = json.load(f)
        times.append(t_state["log_history"][-1]["train_runtime"])
        sps.append(t_state["log_history"][-1]["train_samples_per_second"])
    return times, sps

In [10]:
results = collect_results_single_param(os.path.join(data_dir, "5_archetype_users_test1"), [42])

In [11]:
results

    user  accuracy  seed
0      0    0.2600    42
1      1    0.0800    42
2      2    0.1400    42
3      3    0.2576    42
4      4    0.2400    42
..   ...       ...   ...
95    95    0.3000    42
96    96    0.2000    42
97    97    0.2200    42
98    98    0.2184    42
99    99    0.2000    42

[100 rows x 3 columns]

In [12]:
print(results["accuracy"].mean(), results["accuracy"].std())

0.20483199939131735 0.051021331957301234

In [13]:
times, sps = collect_train_times(os.path.join(data_dir, "5_archetype_users_test1"), [42])

In [14]:
times

[29625.8011]

In [16]:
29625 / (60 * 60)

8.229166666666666

In [47]:
loss, weights, embeds, weight_grads, embeds_grads, train_users = collect_details(os.path.join(data_dir, "5_archetype_users_test1"), [42])

In [38]:
train_users[0][:69].flatten()

array([83., 53., 70., ...,  4., 48., 10.])

In [39]:
len(loss['step'])

4000

In [48]:
loss_df = pd.DataFrame(loss)

In [49]:
loss_df = loss_df[loss_df["step"] < 69]
loss_df

          loss  step  user  seed
0     1.601677     0  83.0    42
1     1.608793     0  53.0    42
2     1.604948     0  70.0    42
3     1.611738     0  45.0    42
4     1.610108     0  44.0    42
...        ...   ...   ...   ...
1375  1.589681    68  19.0    42
1376  1.614654    68  36.0    42
1377  1.612467    68   4.0    42
1378  1.602234    68  48.0    42
1379  1.616974    68  10.0    42

[1380 rows x 4 columns]