In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append('../../src/generic')
import csv
import os
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_theme()

In [3]:
from results.process_results import ResultProcessor

In [4]:
main_result_dir = "/data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf"

In [5]:
base_result_dir = os.path.join(main_result_dir, "train_all_small_category_split")
levels = ["seed"]
train_all_results = ResultProcessor(base_result_dir, levels, verbose=True)

Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_all_small_category_split: Found results for 5 seeds

In [8]:
train_all_results.results_df

,Books_accuracy,Books_loss,Books_runtime,Books_samples,Books_samples_per_second,Books_steps_per_second,Grocery_and_Gourmet_Food_accuracy,Grocery_and_Gourmet_Food_loss,Grocery_and_Gourmet_Food_runtime,Grocery_and_Gourmet_Food_samples,...,train_loss,train_runtime,train_samples,train_samples_per_second,train_steps_per_second,train_time,training_loss,val_samples,val_time,seed
0,0.683,0.848727,6.4019,1000,156.203,4.999,0.725,0.741279,6.4140,1000,...,0.640653,434.3937,10000,69.062,2.162,434.405873,0.640653,4000,25.269493,45
1,0.658,0.837978,6.4714,1000,154.526,4.945,0.715,0.759155,6.4562,1000,...,0.644348,440.9813,10000,68.030,2.129,440.996236,0.644348,4000,25.740595,42
2,0.669,0.889466,6.3634,1000,157.149,5.029,0.743,0.714780,6.3878,1000,...,0.627387,433.0179,10000,69.281,2.169,433.036760,0.627387,4000,25.193556,46
3,0.643,0.900570,6.5077,1000,153.665,4.917,0.730,0.734723,6.5043,1000,...,0.636231,435.6824,10000,68.858,2.155,435.699297,0.636231,4000,25.655967,43
4,0.644,0.880159,6.4851,1000,154.200,4.934,0.729,0.732336,6.4820,1000,...,0.651784,434.4847,10000,69.047,2.161,434.495340,0.651784,4000,25.641412,44

In [10]:
acc_cols = [col for col in train_all_results.results_df if "accuracy" in col]
train_all_results.results_df.agg(["mean", "std"])[acc_cols]

,Books_accuracy,Grocery_and_Gourmet_Food_accuracy,Movies_and_TV_accuracy,Prime_Pantry_accuracy,eval_accuracy,test_accuracy
mean,0.659400,0.72840,0.652600,0.753800,0.705050,0.698550
std,0.017009,0.01009,0.013372,0.009524,0.007952,0.007643

In [11]:
base_result_dir = os.path.join(main_result_dir, "train_ID_small_category_split")
levels = ["category", "seed"]
train_ID_results = ResultProcessor(base_result_dir, levels, verbose=True)

Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_ID_small_category_split: Found results for 4 categorys
Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_ID_small_category_split/Books: Found results for 5 seeds
Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_ID_small_category_split/Movies_and_TV: Found results for 5 seeds
Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_ID_small_category_split/Prime_Pantry: Found results for 5 seeds
Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_ID_small_category_split/Grocery_and_Gourmet_Food: Found results for 5 seeds

In [14]:
acc_cols = [col for col in train_ID_results.results_df if "accuracy" in col]
train_ID_results.results_df.agg(["mean", "std"])[acc_cols]

,Books_accuracy,eval_accuracy,test_accuracy,Movies_and_TV_accuracy,Prime_Pantry_accuracy,Grocery_and_Gourmet_Food_accuracy
mean,0.666400,0.705100,0.692700,0.640400,0.755400,0.708600
std,0.008264,0.044221,0.046409,0.007956,0.010431,0.021824

In [15]:
base_result_dir = os.path.join(main_result_dir, "train_media_small_category_split")
levels = ["seed"]
train_media_results = ResultProcessor(base_result_dir, levels, verbose=True)

Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_media_small_category_split: Found results for 5 seeds

In [19]:
acc_cols = [col for col in train_media_results.results_df if "accuracy" in col]
train_media_results.results_df[acc_cols]

   Books_accuracy  Movies_and_TV_accuracy  eval_accuracy  test_accuracy
0           0.637                   0.638         0.6525         0.6375
1           0.668                   0.660         0.6655         0.6640
2           0.654                   0.671         0.6690         0.6625
3           0.646                   0.628         0.6275         0.6370
4           0.655                   0.667         0.6685         0.6610

In [16]:
acc_cols = [col for col in train_media_results.results_df if "accuracy" in col]
train_media_results.results_df.agg(["mean", "std"])[acc_cols]

      Books_accuracy  Movies_and_TV_accuracy  eval_accuracy  test_accuracy
mean        0.652000                0.652800       0.656600       0.652400
std         0.011511                0.018833       0.017594       0.013872

In [22]:
base_result_dir = os.path.join(main_result_dir, "train_food_small_category_split")
levels = ["seed"]
train_food_results = ResultProcessor(base_result_dir, levels, verbose=True)

Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_food_small_category_split: Found results for 5 seeds

In [23]:
acc_cols = [col for col in train_food_results.results_df if "accuracy" in col]
train_food_results.results_df[acc_cols]

,Grocery_and_Gourmet_Food_accuracy,Prime_Pantry_accuracy,eval_accuracy,test_accuracy
0,0.694,0.728,0.7210,0.7110
1,0.741,0.764,0.7655,0.7525
2,0.724,0.781,0.7555,0.7525
3,0.732,0.780,0.7595,0.7560
4,0.715,0.767,0.7500,0.7410

In [24]:
acc_cols = [col for col in train_food_results.results_df if "accuracy" in col]
train_food_results.results_df.agg(["mean", "std"])[acc_cols]

,Grocery_and_Gourmet_Food_accuracy,Prime_Pantry_accuracy,eval_accuracy,test_accuracy
mean,0.721200,0.764000,0.75030,0.742600
std,0.017992,0.021506,0.01733,0.018552

In [7]:
base_result_dir = os.path.join(main_result_dir, "train_cluster_ID_small_category_split")
levels = ["cluster_ID", "seed"]
train_cluster_ID_results = ResultProcessor(base_result_dir, levels, verbose=True)

Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_cluster_ID_small_category_split: Found results for 5 cluster_IDs
Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_cluster_ID_small_category_split/2: Found results for 5 seeds
Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_cluster_ID_small_category_split/1: Found results for 5 seeds
Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_cluster_ID_small_category_split/3: Found results for 5 seeds
Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_cluster_ID_small_category_split/4: Found results for 5 seeds
Base dir /data/ddmg/redditlanguagemodeling/results/amazon_reviews/clf/train_cluster_ID_small_category_split/0: Found results for 5 seeds

In [18]:
acc_cols = [col for col in train_cluster_ID_results.results_df if "accuracy" in col]
acc_cols = [col for col in acc_cols if ("Books" in col or "Grocery" in col or "Movies" in col or "Pantry" in col)]
train_cluster_ID_results.results_df.agg(["mean", "std"])[acc_cols]

,Books_accuracy,Grocery_and_Gourmet_Food_accuracy,Movies_and_TV_accuracy,Prime_Pantry_accuracy
mean,0.769786,0.847363,0.786643,0.818841
std,0.186779,0.182065,0.229809,0.229075

In [35]:
train_cluster_ID_results.results_df[["seed", "cluster_ID"] + acc_cols]

,seed,cluster_ID,Books_accuracy,Grocery_and_Gourmet_Food_accuracy,Movies_and_TV_accuracy,Prime_Pantry_accuracy
0,46,2,1.000000,1.000000,1.000000,1.000000
1,42,2,1.000000,1.000000,1.000000,1.000000
2,45,2,1.000000,1.000000,1.000000,1.000000
3,44,2,1.000000,1.000000,1.000000,1.000000
4,43,2,1.000000,1.000000,1.000000,1.000000
0,44,1,0.849515,0.959459,0.876543,0.925926
1,43,1,0.776699,0.959459,0.864198,0.925926
2,46,1,0.849515,0.959459,0.876543,0.925926
3,42,1,0.834951,0.959459,0.876543,0.925926
4,45,1,0.820388,0.959459,0.864198,0.925926
0,46,3,0.894737,1.000000,1.000000,1.000000
1,45,3,0.894737,1.000000,1.000000,1.000000
2,42,3,0.894737,1.000000,1.000000,1.000000
3,43,3,0.894737,1.000000,1.000000,1.000000
4,44,3,0.894737,1.000000,1.000000,1.000000
0,46,4,0.534722,0.549020,0.421053,0.333333
1,45,4,0.534722,0.549020,0.508772,0.416667
2,42,4,0.437500,0.529412,0.377193,0.333333
3,43,4,0.534722,0.588235,0.447368,0.583333
4,44,4,0.472222,0.588235,0.377193,0.416667
0,42,0,0.657512,0.721900,0.640056,0.759140
1,45,0,0.628433,0.713789,0.642857,0.763441
2,46,0,0.581583,0.705678,0.626050,0.738710
3,44,0,0.663974,0.738123,0.637255,0.764516
4,43,0,0.594507,0.703360,0.630252,0.732258

In [57]:
train_cluster_ID_results.results_df.groupby("cluster_ID").agg(["mean", "std"])["test_accuracy"]
#train_cluster_ID_results.results_df[["seed", "cluster_ID", "test_accuracy"]]

                mean       std
cluster_ID
0           0.690339  0.016269
1           0.871774  0.014440
2           1.000000  0.000000
3           0.933333  0.000000
4           0.481620  0.040534

In [37]:
cluster_perf_df = train_cluster_ID_results.results_df.groupby("cluster_ID").agg(["mean", "std"])[acc_cols]
cluster_perf_df

           Books_accuracy           Grocery_and_Gourmet_Food_accuracy  \
                     mean       std                              mean
cluster_ID
0                0.625202  0.036751                          0.716570
1                0.826214  0.030199                          0.959459
2                1.000000  0.000000                          1.000000
3                0.894737  0.000000                          1.000000
4                0.502778  0.045432                          0.560784

                     Movies_and_TV_accuracy           Prime_Pantry_accuracy  \
                 std                   mean       std                  mean
cluster_ID
0           0.014087               0.635294  0.006975              0.751613
1           0.000000               0.871605  0.006762              0.925926
2           0.000000               1.000000  0.000000              1.000000
3           0.000000               1.000000  0.000000              1.000000
4           0.026307               0.426316  0.054991              0.416667


                 std
cluster_ID
0           0.015035
1           0.000000
2           0.000000
3           0.000000
4           0.102062

In [11]:
# get how many examples are in each cluster so you can do better weighting
cluster_file = "/data/ddmg/redditlanguagemodeling/data/AmazonReviews/data/amazon_v2.0/clusters/kmeans_post_embeddings/test_small_even_books_grocery_movie_pantry_split/clusters.npy"
cluster_ids = np.load(cluster_file, allow_pickle=True)

In [14]:
len(cluster_ids)

4000

In [13]:
# load test data
from datasets import load_from_disk

In [19]:
data_file = "/data/ddmg/redditlanguagemodeling/data/AmazonReviews/data/amazon_v2.0/amazon_reviews_clf_processed/test_small_even_books_grocery_movie_pantry_split"
test_dataset = load_from_disk(data_file)

In [20]:
test_dataset

Dataset({
    features: ['__index_level_0__', 'asin', 'attention_mask', 'category', 'input_ids', 'labels', 'reviewTime', 'reviewYear', 'split', 'summary', 'text', 'unixReviewTime', 'user', 'verified'],
    num_rows: 4000
})

In [21]:
test_dataset = test_dataset.add_column(name="cluster_ID", column=cluster_ids.tolist())

In [22]:
# get counts of cluster IDs for each category
books_dataset = test_dataset.filter(lambda x: x['category'] == "Books")

HBox(children=(FloatProgress(value=0.0, max=4.0), HTML(value='')))

In [26]:
grocery_dataset = test_dataset.filter(lambda x: x['category'] == "Grocery_and_Gourmet_Food")

HBox(children=(FloatProgress(value=0.0, max=4.0), HTML(value='')))

In [28]:
movies_dataset = test_dataset.filter(lambda x: x['category'] == "Movies_and_TV")

HBox(children=(FloatProgress(value=0.0, max=4.0), HTML(value='')))

In [30]:
pantry_dataset = test_dataset.filter(lambda x: x['category'] == "Prime_Pantry")

HBox(children=(FloatProgress(value=0.0, max=4.0), HTML(value='')))

In [40]:
clusters, counts = np.unique(books_dataset['cluster_ID'], return_counts=True)
print(clusters)
print(counts)

[0 1 2 3 4]
[619 206  12  19 144]

In [41]:
mean_perf = cluster_perf_df["Books_accuracy"]["mean"]
std_perf = cluster_perf_df["Books_accuracy"]["mean"]

cluster_ID
0    0.625202
1    0.826214
2    1.000000
3    0.894737
4    0.502778
Name: mean, dtype: float64

In [44]:
sum(mean_perf.to_numpy() * np.array(counts)) / 1000

0.6585999981522559

In [45]:
std_perf = cluster_perf_df["Books_accuracy"]["std"]
sum(std_perf.to_numpy() * np.array(counts)) / 1000

0.0355117311750142

In [46]:
clusters, counts = np.unique(grocery_dataset['cluster_ID'], return_counts=True)
print(clusters)
print(counts)

[0 1 2 3 4]
[863  74   9   3  51]

In [48]:
mean_perf = cluster_perf_df["Grocery_and_Gourmet_Food_accuracy"]["mean"]
std_perf = cluster_perf_df["Grocery_and_Gourmet_Food_accuracy"]["std"]
print(sum(mean_perf.to_numpy() * np.array(counts)) / 1000)
print(sum(std_perf.to_numpy() * np.array(counts)) / 1000)

0.7300000021576882
0.013498939245835534

In [49]:
clusters, counts = np.unique(movies_dataset['cluster_ID'], return_counts=True)
print(clusters)
print(counts)

[0 1 2 3 4]
[714 162   4   6 114]

In [50]:
mean_perf = cluster_perf_df["Movies_and_TV_accuracy"]["mean"]
std_perf = cluster_perf_df["Movies_and_TV_accuracy"]["std"]
print(sum(mean_perf.to_numpy() * np.array(counts)) / 1000)
print(sum(std_perf.to_numpy() * np.array(counts)) / 1000)

0.6534000013470649
0.012344372815305154

In [52]:
clusters, counts = np.unique(pantry_dataset['cluster_ID'], return_counts=True)
print(clusters)
print(counts)

[0 1 2 3 4]
[930  54   2   2  12]

In [53]:
mean_perf = cluster_perf_df["Prime_Pantry_accuracy"]["mean"]
std_perf = cluster_perf_df["Prime_Pantry_accuracy"]["std"]
print(sum(mean_perf.to_numpy() * np.array(counts)) / 1000)
print(sum(std_perf.to_numpy() * np.array(counts)) / 1000)

0.7579999976873398
0.015206862845100531

In [58]:
test_dataset

Dataset({
    features: ['__index_level_0__', 'asin', 'attention_mask', 'category', 'input_ids', 'labels', 'reviewTime', 'reviewYear', 'split', 'summary', 'text', 'unixReviewTime', 'user', 'verified', 'cluster_ID'],
    num_rows: 4000
})

In [60]:
# get majority class baseline per cluster performance
df = pd.DataFrame({"cluster_ID": test_dataset["cluster_ID"], "label": test_dataset["labels"]})
df

      cluster_ID  label
0              0      4
1              4      4
2              0      1
3              0      4
4              0      4
...          ...    ...
3995           0      4
3996           0      2
3997           0      3
3998           0      3
3999           0      4

[4000 rows x 2 columns]

In [61]:
df.groupby(["cluster_ID"]).agg(lambda x: x.value_counts(normalize=True).iloc[0])["label"]

cluster_ID
0    0.650032
1    0.883065
2    1.000000
3    0.933333
4    0.333333
Name: label, dtype: float64

In [65]:
df["item_id"] = np.arange(len(df))
df.groupby(["cluster_ID", "label"]).count()

Empty DataFrame
Columns: []
Index: [(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (1, 1), (1, 2), (1, 3), (1, 4), (2, 3), (3, 1), (3, 3), (3, 4), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4)]